<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="p-[100px]">


    <div>
      <div>

        <section class="flex flex-row justify-between">
        
        <div>
         <h1> Pypies By {{ name}} </h1>
         
         <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in all_user_pie %}
              <tr>
                <td>{{ item['name'] }}</td>
                
                <td>
                  <a href="https://localhost:5000/edit/{{item['id']}}">{{item['id']}}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </section>
      </div>
      

    </div>
    
    

  </body>
</html>